<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.viapx.zefram"
    android:versionCode="1"
    android:versionName="1.0"
    android:debuggable="true" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/> 
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
            android:name=".LocationListActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ZeframActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LocationActivity" 
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LocationEventActivity" 
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        
        <!-- 
            Register the receiver that starts our service
            See http://www.vogella.de/articles/AndroidServices/article.html
         -->
        <receiver android:name=".SystemStartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE"></action>
            </intent-filter>
        </receiver>
        
        <!-- 
            Register our service
            See http://www.vogella.de/articles/AndroidServices/article.html
         -->
        <service android:name=".ZeframLocationRegistrationService"></service>
        <service android:name="com.viapx.zefram.services.LocationEventWifiService" android:enabled="true">
            <intent-filter>
                <action android:name="com.viapx.services.LOCATION_EVENT_WIFI"/>
            </intent-filter>
        </service>
        
        <service android:name="com.viapx.zefram.services.LocationEventRingerService" android:enabled="true">
            <intent-filter>
                <action android:name="com.viapx.services.LOCATION_EVENT_RINGER"/>
            </intent-filter>
        </service>
        
        <uses-library android:name="com.google.android.maps" />
        
    </application>

    
    
</manifest>